/build/**
/config/**
/dist/**
src/modules/collection/
src/modules/example/
src/modules/line/
src/modules/search/
src/modules/add_search_name/
src/modules/lineDetails/
src/modules/routeDetails/
src/modules/linedetail/
src/modules/searchstation/
src/modules/ticketDetail/
src/modules/TicketDetails/
src/modules/searchCar/
src/modules/addSearchName/
src/components/
