.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/*
static/*
!/static/css/public.css
!/static/README.md
!/src/modules
/src/modules/addSearchName
/src/modules/linedetail
/src/modules/routePlan
/src/modules/searchCar
/src/modules/searchstation
/src/modules/site-details
/src/modules/siteDetails
/src/modules/ticket-detail
/src/modules/ticketDetail
/src/modules/toPay

!/src/components
/src/components/better-scroll
/src/components/ticket_background
/src/components/Error.vue
/src/components/ticket-mark.vue

!/src/plugins

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.svn/