.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/*
static/*
!/static/css/public.css
!/static/README.md
!/src/modules
/src/modules/add_search_name
/src/modules/addSearchName
/src/modules/correction
src/modules/collection/
/src/modules/lineDetails
src/modules/line/
src/modules/routeDetails/
/src/modules/routePlan
/src/modules/search
/src/modules/searchCar
/src/modules/searchstation
/src/modules/site-details
/src/modules/siteDetails
/src/modules/TicketDetails
/src/modules/toPay

!/src/components
/src/components/better-scroll
/src/components/ticket_background
/src/components/Error.vue
/src/components/mySwiper
/src/components/ticket-mark.vue
/src/components/banner-vue/*

!/src/plugins

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.svn/