.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/*
static/*
!/static/css/public.css
!/src/modules/example
!/src/components
/src/components/better-scroll
/src/components/ticket_background
/src/components/Error.vue
/src/components/ticket-mark.vue
!/src/plugins

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.svn/